body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/******************************************************************************************/
/*https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.css
/*https://jmblog.github.io/color-themes-for-google-code-prettify/
/*https://rawgit.com/google/code-prettify/master/examples/quine.html
/*https://github.com/google/code-prettify/blob/master/docs/getting_started.m
/******************************************************************************************/

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #1d1f21;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #c5c8c6;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #969896;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #1d1f21;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #b5bd68;
  }

  /* keyword */

  .kwd {
    color: #b294bb;
  }

  /* comment */

  .com {
    color: #969896;
  }

  /* type name */

  .typ {
    color: #81a2be;
  }

  /* literal value */

  .lit {
    color: #de935f;
  }

  /* punctuation */

  .pun {
    color: #c5c8c6;
  }

  /* lisp open bracket */

  .opn {
    color: #c5c8c6;
  }

  /* lisp close bracket */

  .clo {
    color: #c5c8c6;
  }

  /* markup tag name */

  .tag {
    color: #cc6666;
  }

  /* markup attribute name */

  .atn {
    color: #de935f;
  }

  /* markup attribute value */

  .atv {
    color: #8abeb7;
  }

  /* declaration */

  .dec {
    color: #de935f;
  }

  /* variable name */

  .var {
    color: #cc6666;
  }

  /* function name */

  .fun {
    color: #81a2be;
  }
}


.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}