<div id="demonic">
    <div id="demonic-examples">
        <code>palindrome</code>
        <code>prime 10101</code>
        <code>withfeathers --print</code>
        <code>pipes.sh</code>
        <code>fortune | cowsay | lolcat</code>
    </div>

    <div class="demonic-web"></div>
    <div class="what-is-this">
        <a href="/code/demonic">About</a> |
        <a href="https://github.com/lbeckman314/demonic">Source Code</a>
    </div>
</div>

<script src="/assets/js/demonic-web.bundle.js"></script>
<script>
    const theme = localStorage.getItem('theme');
    DemonicWeb.run({
        data: 'cmatrix | lolcat',
        theme: theme,
        url: 'ws://localhost:8181',
    });
</script>
