<footer class="site-footer">
    <div>
        <a href="/about">made with lots of <object type="image/svg+xml" data="/assets/svg/heart.svg"></object></a> / <a href="https://www.github.com/lbeckman314/website"> open-source and free</a>
    </div>
    <div>
        <span>© <span id="date">{{ site.time | date: '%Y' }}</span> liam beckman / <span>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img src="/assets/images/cc.png">
        </a>
        <span class="quote">"I only want to live in peace and plant potatoes and dream!" -Tove Jansson<span>
    </div>
</footer>

<script>
let date = document.getElementById('date');
date.innerHTML = parseInt(date.innerHTML).toString(16);
</script>

