<!--var footer-height = document.getElementById('footer-ul').offsetHeight;-->

<footer class="site-footer" style="height: footer-height;">

  <ul>

      <!--<span class="heart">❤</span>-->

      <li><a href="/about">made with lots of <object type="image/svg+xml" data="/assets/svg/heart.svg"></object></a> :: <a href="https://www.github.com/lbeckman314/website"> open-source and free</a></li>
      <br />
      <li>© {{ site.time | date: '%Y' }} liam beckman :: code → <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a> :: all else → <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a></li>

      <li class="quote">
"I only want to live in peace, plant potatoes and dream!" -Tove Jansson
</li>
  </ul>

</footer>

