<!--var footer-height = document.getElementById('footer-ul').offsetHeight;-->

<footer class="site-footer" style="height: footer-height;">

  <ul>
      <li><a href="/about">Made with lots of <span class="heart">❤</span></a> :: <a href="http://jmcglone.com/guides/github-pages/"> inspired by jmcglone</a></li>
      <br />
      <li>© 2017 liam beckman :: code licensed MIT</li>
<li style="float:right">
"I only want to live in peace, plant potatoes and dream!" -Tove Jansson 
</li>
  </ul>

</footer>
