<div id="header">
    <span id="drop-button">☰</span>
    <ul id="menu">
        <li id="home"><a href="/">home</a></li>
        <li id="about"><a href="/about">about</a></li>
        <li id="about"><a href="/posts">posts</a></li>
        <li id="code"><a href="/code">code</a></li>
        <li id="vcs"><a href="https://github.com/lbeckman314">github</a><span id="delim"> / </span><a href="https://git.liambeckman.com/liam">gitea</a> </li>
        <li id="favorites"><a href="/favorites">favorites</a></li>
        <li id="secret"><a href="/code/s">:(){ :|:& };:</a> </li>
    </ul>

    <div class="zigzag-container">
        <object id="zigzag" type="image/svg+xml" data="/assets/svg/zigzag.svg"></object>
    </div>

    <span id="theme">☯</span>
</div>

