<ul class="sidenav">

        <li class="header" onclick="location.href='/'"><a href="/">home</a></li>
        <li class="header" onclick="location.href='/about'"><a href="/about">about</a></li>
        <li class="header" onclick="location.href='/writings'"><a href="/writings">writings</a></li>
        <li class="header" onclick="location.href='/code'"><a href="/code">code</a></li>
        <li class="header" onclick="location.href='/https://github.com/lbeckman314'"><a href="https://github.com/lbeckman314">github</a> / <a href="https://git.liambeckman.com">cgit</a> </li>

        <li class="header" onclick="location.href='/favorites'"><a href="/favorites">favorites</a></li>
        <li onclick="location.href='/code/s'"> <a class="secret" href="/code/s" style="color:#99979c;">:(){ :|:& };:</a> </li>

        <div class="style">
        <span class="white">·</span>
        <button id="lightswitch" class="light" type="button">·</button>
        <span class="white">·</span>
        <button id="darkswitch" class="dark" type="button">·</button>
        <span class="white">·</span>
</ul>
