<ul class="sidenav">

            <!-- <span class="icon-bar"></span> -->
            <!-- <span class="icon-bar"></span> -->
            <!-- <span class="icon-bar"></span> -->

            <li onclick="location.href='/'"><a class="header" href="/">home</a></li>
            <li onclick="location.href='/about'"><a class="header" href="/about">about</a></li>
            <li onclick="location.href='/writings'"><a class="header" href="/writings">writings</a></li>
            <li onclick="location.href='/code'"><a class="header" href="/code">code</a></li>
            <li onclick="location.href='/https://github.com/lbeckman314'"><a class="header" href="https://github.com/lbeckman314">github</a> / <a class="header" href="https://git.liambeckman.com">cgit</a> </li>
            <li onclick="location.href='/favorites'"><a class="header" href="/favorites">favorites</a></li>

            <li onclick="location.href='/code/s'"> <a class="secret" href="/code/s" style="color:#99979c;">:(){ :|:& };:</a> </li>

</ul>
