<ul>
            <li>{ <a href="/">home</a> }</li>
            <li>{ <a href="/about">about</a> }</li>
            <li>{ <a href="/cv">my cv</a> }</li>
            <!--<li><a href="/flowers">winter~sounds & flower~crowns</a></li>-->
            <li>{ <a href="/writings">writings</a> }</li>
            <li>{ <a href="/code">code + projects</a> }</li>            
            <li>{ <a href="https://github.com/lbeckman314">my github</a> }</li>
            <li>{ <a href="mailto:lbeckman314@gmail.com">e-mail me</a> }</li>
</ul>