<ul>
            <li>( <a href="/">home</a> )</li>
            <li>( <a href="/about">about</a> )</li>
            <li>( <a href="/resume">résumé</a> )</li>
            <li>( <a href="/writings">writings</a> )</li>
            <li>( <a href="/code">code</a> )</li>  
            <li>( <a href="https://github.com/lbeckman314">github</a> / <a href="https://git.liambeckman.com">cgit</a> ) </li>

        <li style="float:right; "> <a href="/about" style="color:#99979c;">:(){ :|:& };:</a> </li>  

</ul>
