<div class="safety">
    <h2>Safety First</h2>

    <p>Be careful — this code might be very evil! Only compile and run this program if you trust me and the code herein.</p>

    <p>Signed checksums and gpg signatures are included in every package for security. <a href="https://voidlinux.org/download/#verifying-file-integrity-and-its-digital-signature">Here</a> is an example of using the <a href="https://www.gnupg.org/">GNU Privacy Guard</a> to verify the integrity of a program.</p>

    <p>Copying and pasting the code samples below can be <a href="https://thejh.net/misc/website-terminal-copy-paste">dangerous</a>. I recommend not copying and pasting as the root or administrative user.</p>
</div>

