/***************************************************/
/* CSS I've cobbled together from the far corners of the world.
Feel free to copy and paste, fork, clone, or anything you like. */
/***************************************************/



//***************************************************/
//* SASS VARIABLES
//***************************************************/

$font-stack: Helvetica, Ariral, Sans-Serif;

$pop-1: #DB37C4; // pink
$pop-2: #ED68D9; // purple
$pop-3: #49CCD4; // teal
$pop-4: #678CFA; // light blue
$pop-5: #4635F7; // blue

$header-footer: #2A2730;

$heart: #FF357A;

$grey-light: #aaa;
$grey: #99979c;
$grey-dark: #2a2730;

$white: #FFFFFF;

$blue-light: #eef;

// https://stackoverflow.com/questions/12144000/using-custom-fonts-using-css
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-0.016/ttf/EBGaramond12-Regular.ttf');
}



$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   1.1em;
$large-font-size:  2.3em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;
$small-line-height: $base-line-height - 0.2;

$spacing-unit:     30px;
$tran:             800ms;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



/***************************************************/
/* BASIC STUFF
/***************************************************/

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        box-sizing: border-box;
    }

body {
    word-wrap: break-word;
}

#content {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
}

/* paragraphs*/
p {
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: #333;
    padding-bottom: 1.5%;
    /*padding-bottom: 2%;*/
    /*text-indent: 5%;*/

    transition: $tran;
}

p.code {
    text-align: center;
    padding: 0.5em;
    font-size: $base-font-size;
}


p.headers {
  background-color: #D3D2E0;
  border: 1px $grey-light solid;

}

P.center {
    text-align: center;
    padding: 2%;
}

/* anchors */

a {
    color: $heart;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: $heart;

}

a.about {
  color: $pop-1;
  //text-decoration-color: $pop-1;
  text-decoration: snow;
}

a.writings {
  color: $pop-2;
  //text-decoration-color: $pop-2;
  text-decoration: none;
}


a.code {
  color: $pop-3;
  //text-decoration-color: $pop-3;
  text-decoration: none;
}


a.git {
  color: $pop-4;
  //text-decoration-color: $pop-4;
  text-decoration: none;
}

a.favorites {
  color: $pop-5;
  //text-decoration-color: $pop-5;
  text-decoration: none;
}


#home a {
  font-size: $base-font-size;
  transition: $tran;
}

#home span {
    transition: $tran;
}

#header a, #footer a {
    color: $white;
}

li.header::after {
    content: " )";
    color: grey;
}

li.header::before {
    content: "( ";
    color: grey;
}

a.secret {
    float: right;
}

#home:hover a {
    text-decoration-color: snow;
    transition: $tran;
}


/* div */


div.about {
    border: solid 1px $pop-1;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}

div.writings {
    border: solid 1px $pop-2;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}
div.code {
    border: solid 1px $pop-3;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}
div.git {
    border: solid 1px $pop-4;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}
div.favorites {
    border: solid 1px $pop-5;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}

div.about:hover {
    background-color: $pop-1;
    transition: $tran;
}

div.writings:hover {
    background-color: $pop-2;
    transition: $tran;
}

div.code:hover {
    background-color: $pop-3;
    transition: $tran;
}

div.git:hover {
    background-color: $pop-4;
    transition: $tran;
}

div.favorites:hover {
    background-color: $pop-5;
    transition: $tran;
}

.terminal {
    overflow: auto;
    width: 100%;
    height: 25em;
    resize: both;
    background-color: white;
    color: black;
    padding: 2%;
    border: 1px dashed grey;
}

.demo-examples {
    background-color: #4635f7;
    border-radius: 0;
    font-size: $base-font-size;
}

a.what-is-this {
    float: right;
    margin-top: 1.5em;
}

div.demo-examples-container {
    color: snow;
    line-height: 1.7;
    padding-bottom: 1.5%;
    transition: 800ms;
}

#duplicate-terminal, #remove-terminal {
    border: 1px dashed grey;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-top: 0.5em;
    transition: 800ms;
    color: snow;
    font-size: $base-font-size;
    line-height: 1.7;
}

#duplicate-terminal:hover {
    background-color: #4635f7;
    border: 1px solid #4635f7;
    transition: 800ms;
    cursor: pointer;
}

#remove-terminal:hover {
    background-color: crimson;
    border: 1px solid crimson;
    transition: 800ms;
    cursor: pointer;
}

#home:hover p {
    color: snow;
    transition: $tran;
}

#home:hover span {
    color: snow;
    transition: $tran;
}

#home:hover div {
    border-bottom: 1px solid snow; 
    transition: $tran;
}

#home:hover a {
    color: snow;
    transition: $tran;
}

#home div {
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

#home {
    width: 100%;
    cursor: pointer;
}


div.about-border {
    border-bottom: 1px solid $pop-1; 

    transition: $tran;
}

div.writings-border {
    border-bottom: 1px solid $pop-2; 
    transition: $tran;
}


div.code-border {
    border-bottom: 1px solid $pop-3; 
    transition: $tran;
}


div.git-border {
    border-bottom: 1px solid $pop-4; 
    transition: $tran;
}


div.favorites-border {
    border-bottom: 1px solid $pop-5; 
    transition: $tran;
}

#welcome {
    transition: $tran;
    width: 80%;
    margin: auto;
    display: block;
    padding: 3%;
    border: 1px dashed #aaa;
    cursor: pointer;
}

#welcome:hover {
    background: #0054a5;
    transition: $tran;
}


/* headers */

h1 {
    font-size: 3em;
    font-family: $font-stack;
    text-align: center;
    color: #2a2730;
    padding-top: 3%;
}

h1.home-page {
    padding-top: 2%;
}

h1.favorites {
    color: #4635f7;
    text-decoration: underline dotted #4635f7;
}

.special {
    color: grey;
    text-decoration: underline dotted grey;
}

h2 {
    font-size: $large-font-size;
    font-family: $font-stack;
    color: #2a2730;
    padding-top: 3%;
}


h2.code {
    /*color: #595EF7;*/
}


/* lists */

nav ul, #footer ul, #header ul {
    font-family: $font-stack;
    padding: 10px;
    list-style: none;
    font-weight: bold;
}

nav ul li, #footer ul li, #header ul li, ul li {
    display: inline;
    color: #99979c;
}

ul.code, li.code {
    text-align: center;
    padding: 2%;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

li.quote
{
    float:right;
}

#header li {

    margin-right: 20px;
}



hr {
    border-bottom: 1px dashed $grey;
    border-top: 0px;
    transition: $tran;
}

#header {
    font-size: .8em;
    background-color: $grey-dark;
}

.site-footer {
  background-color: $grey-dark;
  height:4.5em;
}


/* decorative splash of color at top of page */
/* http://sass-lang.com/ */
.popstripe
{
  height: .25em;
background-size: 100%;
    background-image: linear-gradient(to right, $pop-1 0%, $pop-1 20%, $pop-2 20%, $pop-2 40%, $pop-3 40%, $pop-3 60%, $pop-4 60%, $pop-4 80%, $pop-5 80%, $pop-5 100%);
}



.heart {
  color: $heart;
}



img.center {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 2%;
    max-width: 400px;
    border: 1px dashed #aaa;
    border-radius: 50%;
    margin-top: 0.5em;
}

img.emily {
    border-radius: 0;
}

span.date:before {
    content: "|";
}

/* boxed items like in code and writings */
.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3%;
}
.fixed{
    width: 30%;
    word-wrap: break-word;
    margin: 1.5em;
    border: solid 1px $grey-light;
    margin-left: auto;
    margin-right: auto;
}


.flex-item {
    flex-grow: 1;
}

.pointer {
    cursor: pointer;
}

.code-main {
	border: solid 1px #d5d5d5;
	width: 100%;
	margin: 0%;
}

button {
    width: 1.3em;
    height: 1.3em;
    //border-radius: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
}


button:hover {
    border: 1px solid #FF357A;
}

.light {
    background-color: whitesmoke;
    border: 1px solid #ff357a;
    color: whitesmoke;
}

.dark {
    background-color: #2a2730;
    border: 1px solid snow;
    color: #2a2730;
}

.white {
    color: snow;
}

.style {
    display: inline;
    margin-right: 1em;
    margin-left: 1em;
    float: right;
}

/*
#content {
    background-color: #2a2730;
}

p {
    color: snow;
}
*/

.popstripe-bw {
    height: 0.25em;
    background-size: 100%;
    background-image: linear-gradient(to right, #191917 0%, #191917 20%, #6D7564 20%, #6D7564 40%, #363436 40%, #363436 60%, #7F7F7D 60%, #7F7F7D 80%, #363634 80%, #363634 100%);
}


/* borders */
.border {
  margin: 6%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid $grey-light;
}

.border-home {
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid #db34ed;

    .border-code {
      border-bottom: 1px solid $grey-light;
    }
}


/* arrow links for next and previous */
/* http://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html */
.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  margin: 1em 0;
  color: grey;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
}

.PageNavigation .prev {
  float: right;
  text-align: right;
}

.PageNavigation .next {
  float: left;
  text-align: left;
  padding-left: 4%;
}


.sub {
        color: grey;
        line-height: $small-line-height;
}

div.sub {
    float: right;
    clear: right;
    margin: 0px;
}
span.sub {
}

.safety {
    background-color: lavender;
    padding: 2em;
    border: 1px dashed grey;
    margin: 5%;
}


.code-title {
    font-size: $base-font-size;
    text-align: center;
    //background-color: $pop-1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 60%;
    background-color: #FF357A;
}

.code-type {
    color: #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 60%;
}

.web-app {
    border: 1px solid $pop-1;
}

#featured {
    transition: $tran;
    cursor: pointer;
}

#featured:hover {
    background-color: lavender;
    transition: $tran;
}

.command-line {
    border: 1px solid $pop-4;
}

.android {
    border: 1px solid $pop-3;
}

/**
 * Code formatting
 */
pre {
  //background-color: $blue-light;

  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap;
}

code {
  //background-color: $blue-light;
  overflow-x: auto;
  white-space: pre-wrap;

  //margin-left: -6px;
  border-radius: 15%;

  /* top right bottom left */
  padding: 0.1em 0.4em 0.1em 0.4em;
  line-height: 1.5em;

  /* https://stackoverflow.com/questions/34659853/how-to-apply-padding-to-every-line-in-multi-line-text */
  box-decoration-break: clone;

  //color: #c80032;
  //background-color: #f9f2f4;
  //background-color: #fdeeff;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


/* slideshow */
#align a {
  display: inline-block;
}


#align p {
  padding-left: 1.5em;
  color: #5e5e5e;
}


* {
    box-sizing: border-box;
}

img.slide {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 36em;
    object-fit: contain;
}

div.buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
}

span.grey {
    color: #5e5e5e;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    background: black;
}

.prev-slideshow, .next-slideshow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    /*transition: 0.6s ease;*/
    border-radius: 0 3px 3px 0;
}

.next-slideshow {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev-slideshow:hover, .next-slideshow:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    background: snow;
}


.numbertext {
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /*transition: background-color 0.6s ease;*/
}

.active, .dot:hover {
    background-color: #717171;
}

.black-fade {
    position: relative;
    border: 1px dashed lightgrey;
    padding: 1em;
}

/* https://stackoverflow.com/questions/18322548/black-transparent-overlay-on-image-hover-with-only-css/18322705 */

.black-fade:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background: black;
    opacity: 0;
    animation-name: fade-black;
    animation-duration: 1.5s;
}

@keyframes fade-black {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}


// import partials
@import 'codelight';
@import 'responsive';
@import 'footer';
