* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  word-wrap: break-word;
  background-color: snow; }

#content {
  font-family: DejaVu Sans, DejaVu Serif, Liberation Sans, Helvetica, Ariral, Sans-Serif;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4%;
  margin: auto;
  max-width: 1200px;
  font-size: 1em;
  line-height: 2;
  font-weight: 500;
  position: relative; }

p {
  color: #333;
  padding-bottom: 1.5%;
  transition: 800ms; }
  p .code {
    text-align: center;
    padding: 0.5em;
    font-size: 1em; }
  p .headers {
    background-color: #D3D2E0;
    border: 1px #AAA solid; }

a {
  color: #FF357A;
  text-decoration: none;
  font-weight: 600; }
  a .about {
    color: #DB37C4; }
  a .notes {
    color: #ED68D9; }
  a .code {
    color: #49CCD4; }
  a .git {
    color: #678CFA; }
  a .favorites {
    color: #4635f7; }
  a .secret {
    float: right;
    padding-right: 3em; }

a:hover {
  text-decoration: underline;
  text-decoration-color: #FF357A; }

#header a, #footer a {
  color: snow; }

div .about {
  color: #DB37C4; }
div .notes {
  color: #ED68D9; }
div .code {
  color: #49CCD4; }
div .git {
  color: #678CFA; }
div .favorites {
  color: #4635f7; }
div .about:hover {
  background-color: #DB37C4; }
div .notes:hover {
  background-color: #ED68D9; }
div .code:hover {
  background-color: #49CCD4; }
div .git:hover {
  background-color: #678CFA; }
div .favorites:hover {
  background-color: #4635f7; }

div#demonic-examples {
  color: snow;
  line-height: 1.7;
  padding-bottom: 1.5%;
  transition: 800ms; }

#terminal {
  width: 100%;
  height: 25em;
  background-color: snow;
  color: black;
  line-height: normal;
  border: 1px solid gray; }

#demonic-examples > code {
  background-color: #29208E;
  border-radius: 0;
  font-size: 1.3em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
  transition: 800ms;
  display: inline-block; }

#demonic-examples > code:hover {
  background-color: #FF357A;
  transition: 800ms; }

.what-is-this {
  float: right;
  margin-top: 1.5em;
  color: #AAA; }

#terminal-container {
  padding-bottom: 10%; }

div#demonic-examples {
  color: snow;
  line-height: 1.7;
  padding-bottom: 1.5%;
  transition: 800ms; }

#info {
  float: left;
  font-size: 1em;
  padding: 0.3em;
  transition: 400ms;
  color: black; }

#home:hover p, #home:hover span, #home:hover div {
  color: snow;
  transition: 800ms; }
#home:hover div {
  border-bottom: 1px solid snow; }

#home {
  width: 100%;
  cursor: pointer; }
  #home p {
    text-align: center; }
  #home div {
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%; }
  #home span {
    transition: 800ms; }

.home div a, .black-fade .slide-src {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%; }

.home div {
  border: solid 1px currentColor;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  position: relative;
  text-align: center;
  transition: 800ms; }
  .home div h1 {
    border-bottom: 1px solid currentColor;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    transition: 800ms;
    padding: 0.5em;
    color: currentColor; }
  .home div h1 > a {
    text-decoration: none;
    transition: 800ms; }
  .home div .relative {
    position: relative;
    display: inline; }
.home div:hover {
  transition: 800ms; }
  .home div:hover h1, .home div:hover a {
    color: snow;
    transition: 800ms; }

h1 {
  font-size: 3em;
  font-family: DejaVu Sans, DejaVu Serif, Liberation Sans, Helvetica, Ariral, Sans-Serif;
  text-align: center;
  color: #131516; }
  h1 .home-page {
    padding-top: 2%; }
  h1 .favorites {
    color: #4635f7;
    text-decoration: underline dotted #4635f7; }

.special {
  color: #AAA;
  text-decoration: underline dotted gray; }

h2 {
  font-size: 2.3em;
  color: #131516;
  padding-top: 3%;
  padding-bottom: 1%; }

h3 {
  font-size: 1.8em;
  padding-top: 1%;
  padding-bottom: 1%; }

ul {
  padding-left: 5%; }

li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  list-style-type: circle; }

nav ul, #footer ul, #header ul {
  font-family: DejaVu Sans, DejaVu Serif, Liberation Sans, Helvetica, Ariral, Sans-Serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  font-weight: bold;
  color: #AAA; }

#header ul {
  padding-bottom: 10px; }

nav ul li, #footer ul li, #header ul li {
  display: inline;
  color: #AAA; }

ul.code, li.code {
  text-align: center;
  padding: 2%; }

li.code {
  list-style: none;
  display: inline; }

ul.notes {
  margin: 20px auto 40px;
  font-size: 1.5em; }

ul.notes li {
  list-style: none; }

li.quote {
  float: right;
  padding-top: 0;
  padding-bottom: 0; }

#header li {
  margin-right: 20px; }

.inline-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%; }

.inline-block > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

object.showoff {
  height: 2em;
  margin: 1em; }

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.profiles div {
  border: 1px solid #AAA;
  margin: 1em;
  width: 45%;
  text-align: center;
  list-style-type: none;
  position: relative; }

.profiles a, .code-src {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block; }

#zigzag {
  width: 70%;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: -1em; }

.copyMessage {
  color: #fff;
  background-color: #333;
  font-size: 0.8em;
  text-align: center;
  border-radius: 6px;
  margin-top: -50%;
  transform: translateY(-30%);
  margin-right: -50%;
  padding: 10%;
  margin-bottom: -10%;
  transition: 800ms; }

.hide {
  visibility: hidden;
  transition: 800ms; }

hr {
  border-bottom: 1px dashed gray;
  border-top: 0px;
  transition: 800ms;
  padding: 2%;
  width: 100%; }

#header {
  font-size: .8em;
  background-color: #000;
  display: flex;
  align-items: center;
  height: 4em; }

.site-footer {
  background-color: #000;
  height: 5.1em;
  color: snow;
  font-family: DejaVu Sans, DejaVu Serif, Liberation Sans, Helvetica, Ariral, Sans-Serif; }

.quote {
  float: right; }

.site-footer div {
  padding: 1em;
  padding-bottom: 0; }

.popstripe {
  height: .25em;
  background-size: 100%;
  background-image: linear-gradient(to right, #DB37C4 0%, #DB37C4 20%, #ED68D9 20%, #ED68D9 40%, #49CCD4 40%, #49CCD4 60%, #678CFA 60%, #678CFA 80%, #4635f7 80%, #4635f7 100%); }

.heart {
  color: #FF357A; }

#hello:hover {
  transition: 800ms;
  text-shadow: none; }

#hello {
  text-shadow: 3px 3px 0px #4635f7, 6px 6px 0px #678CFA, 9px 9px 0px #49CCD4, 12px 12px 0px #ED68D9, 15px 15px 0px #DB37C4;
  transition: 800ms;
  color: darkblue; }

#stuck-up {
  font-weight: 100;
  font-family: times; }

.cc-icon {
  height: 2em;
  vertical-align: middle;
  pointer-events: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

img.center {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 2%;
  max-width: 400px;
  border: 1px dashed #AAA;
  border-radius: 50%;
  margin-top: 0.5em; }

img.emily {
  border-radius: 0; }

span.date:before {
  content: "|"; }

.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3%; }

.fixed {
  width: 30%;
  word-wrap: break-word;
  margin: 1.5em;
  border: solid 1px #AAA;
  margin-left: auto;
  margin-right: auto; }

.flex-item {
  flex-grow: 1; }

.code-main {
  border: solid 1px #AAA;
  width: 100%;
  margin: 0%; }

.inline-content {
  text-align: center; }

#menu {
  width: 100%; }

#menu > li::after {
  content: " )";
  color: #AAA; }

#menu > li::before {
  content: "( ";
  color: #AAA; }

.zigzag-container {
  display: none; }

#secret {
  float: right; }

#menu > #secret::after, #menu > #secret::before {
  content: none; }

#drop-button, #theme {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2.5em;
  vertical-align: middle;
  color: snow;
  cursor: pointer; }

#header #theme:hover {
  color: #FF357A; }

#fork {
  margin-left: auto;
  display: inline; }

#menu-items {
  display: none;
  width: 100%; }

.menu-container {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px; }

#myDropdown a {
  margin: 0;
  padding: 10%;
  transition: 1200ms; }
#myDropdown a:hover {
  background-color: #4635f7;
  transition: 400ms;
  text-decoration: none; }
#myDropdown .inline {
  margin: 0;
  padding: 10%;
  transition: 1200ms; }
#myDropdown .inline:hover {
  background-color: #4635f7;
  transition: 400ms; }

.inline, .config-content span, .dropdown-content a {
  margin: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
  display: block; }

.dropdown-content > a {
  margin-bottom: 5%;
  margin-top: 15%;
  margin-bottom: 15%; }

.show {
  display: block; }

.inline > a, .inline > span {
  display: inline;
  padding: 0;
  margin: 0; }

.default {
  color: snow;
  padding: 1em; }

svg {
  fill: snow; }

input {
  padding: 1em;
  max-width: 100%; }
  input .max {
    height: 3.5em;
    min-width: 70%;
    min-width: 100%; }

.center, #linker {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
  text-align: center; }

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden; }

.PageNavigation a {
  display: block;
  width: 50%;
  margin: 1em 0;
  color: #AAA;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%; }

.PageNavigation .prev {
  float: right;
  text-align: right; }

.PageNavigation .next {
  float: left;
  text-align: left;
  padding-left: 4%; }

.sub {
  color: #AAA;
  line-height: 1.8; }

div.sub {
  float: right;
  clear: right;
  margin: 0px; }

.safety {
  background-color: #F1F1FC;
  padding: 2em;
  border: 1px solid gray;
  margin: 5%; }

.code-title {
  font-size: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 1em;
  width: 60%;
  background-color: #29208e;
  border: 1px solid snow; }

.type-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.code-type {
  color: #333;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 1em;
  width: 30%;
  margin: 2%; }

.featured {
  transition: 800ms;
  cursor: pointer;
  position: relative; }

.featured:hover {
  background-color: #ccccfc;
  transition: 800ms; }

.featured > a {
  display: block; }

.featured {
  text-align: center; }

.featured > p {
  padding-left: 1em;
  padding-right: 1em; }

.cli {
  border: 1px solid #678CFA; }

.android {
  border: 1px solid #49CCD4; }

.web {
  border: 1px solid #DB37C4; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }

code {
  overflow-x: auto;
  border-radius: 15%;
  padding: 0.1em 0.4em 0.1em 0.4em;
  line-height: 1.5em;
  box-decoration-break: clone;
  font-size: 0.9em; }

#align a {
  display: inline-block; }

#align p {
  padding-left: 1.5em;
  color: #5e5e5e; }

img.slide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 36em;
  object-fit: contain;
  padding-top: 1em;
  padding-bottom: 1em; }

div.buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em; }

span.gray {
  color: #5e5e5e; }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

.mySlides {
  display: none;
  background: snow; }

.prev-slideshow, .next-slideshow {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  color: #AAA;
  font-weight: bold;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 800ms;
  z-index: 1; }

.prev-slideshow:hover, .next-slideshow:hover {
  color: #FF357A;
  text-decoration: none; }

.next-slideshow {
  right: 0;
  text-align: right; }

.prev-slideshow {
  left: 0; }

.text {
  padding-top: 0.5em;
  height: 2em;
  width: 100%;
  text-align: center;
  background: snow; }

.black-fade {
  position: relative;
  border: 1px solid gray; }
  .black-fade .slide-src {
    z-index: 1; }

.black-fade:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: snow;
  opacity: 0;
  animation-name: fade-black;
  animation-duration: 1.5s; }

@keyframes fade-black {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#drop-button {
  font-size: 3em;
  color: snow;
  cursor: pointer; }

.copyContainer {
  float: right;
  margin-left: -4%;
  padding-left: 4%; }

.copySymbol {
  float: right;
  margin-right: 20%;
  transition: 800ms; }

.copySymbol:hover {
  transition: 800ms;
  cursor: pointer; }

div.highlight {
  margin: 5%; }

pre.highlight {
  white-space: pre-wrap; }

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase; }

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em; }

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em; }

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em; }

#mst3k {
  width: 100%;
  margin-bottom: -0.6em; }

.circle {
  padding: 1em;
  background-color: snow;
  border-radius: 50%;
  position: fixed;
  right: 5%;
  height: 4em;
  width: 4em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  bottom: 5%;
  border: 1px solid;
  z-index: 1;
  animation-name: fadein;
  transition: opacity 300ms; }

.poem {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 8%;
  border: 1px solid gray;
  background-color: #F1F1FC; }
  .poem p {
    padding: 0;
    margin-bottom: -1em; }

.fade-out {
  opacity: 0; }

.left {
  position: absolute;
  left: 0; }

.right {
  position: absolute;
  right: 0; }

/***************************************************/
/* SYNTAX HIGHLIGHTING
/***************************************************/
/**
 * Syntax highlighting styles
 */
.highlight {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  background: #fff; }

div.highlighter-rouge div.highlight {
  border: 1px solid gray; }

.highlighter-rouge .highlight {
  background-color: #f1f1fc; }

.code-title {
  color: snow; }

.highlight .c {
  color: #4c4c4c;
  font-weight: normal; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #998;
  font-style: italic; }

.highlight .cp {
  color: #999;
  font-weight: bold; }

.highlight .c1 {
  color: #998;
  font-style: italic; }

.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000;
  background-color: #fdd; }

.highlight .gd .x {
  color: #000;
  background-color: #faa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #a00; }

.highlight .gh {
  color: #999; }

.highlight .gi {
  color: #000;
  background-color: #dfd; }

.highlight .gi .x {
  color: #000;
  background-color: #afa; }

.highlight .go {
  color: #888; }

.highlight .gp {
  color: #555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaa; }

.highlight .gt {
  color: #a00; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #458;
  font-weight: bold; }

.highlight .m {
  color: #099; }

.highlight .s {
  color: #d14; }

.highlight .na {
  color: #008080; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #458;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #900;
  font-weight: bold; }

.highlight .nf {
  color: #900;
  font-weight: bold; }

.highlight .nn {
  color: #555; }

.highlight .nt {
  color: #000080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbb; }

.highlight .mf {
  color: #099; }

.highlight .mh {
  color: #099; }

.highlight .mi {
  color: #099; }

.highlight .mo {
  color: #099; }

.highlight .sb {
  color: #d14; }

.highlight .sc {
  color: #d14; }

.highlight .sd {
  color: #d14; }

.highlight .s2 {
  color: #d14; }

.highlight .se {
  color: #d14; }

.highlight .sh {
  color: #d14; }

.highlight .si {
  color: #d14; }

.highlight .sx {
  color: #d14; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #d14; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .il {
  color: #099; }

/***************************************************/
/* RESPONSIVE DESIGN
/***************************************************/
@media only screen and (max-width: 800px) {
  .site-footer {
    height: 8em; }

  .demo-examples:after {
    content: '\A'; } }
@media only screen and (min-width: 701px) {
  #drop-button {
    display: none; } }
@media only screen and (max-width: 700px) {
  #menu {
    display: none;
    position: absolute;
    top: 4em;
    background: black;
    outline: 1px solid gray;
    z-index: 1;
    width: 70%;
    outline-offset: -1px; }

  #header ul {
    padding: 0; }

  #secret {
    float: unset; }

  .zigzag-container {
    display: unset; }

  #zigzag {
    width: 90%;
    margin: auto;
    display: block; }

  #header a {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: block;
    transition: 800ms; }

  #delim {
    display: none; }

  #secret li {
    padding: 0;
    display: unset; }

  #header ul li {
    display: flex;
    margin: 0;
    padding: 0; }

  #menu > li::after {
    content: ""; }

  #menu > li::before {
    content: ""; }

  #menu > a:hover {
    transition: 800ms; }

  #menu > a {
    transition: 800ms; }

  #home > a:hover {
    background-color: #DB37C4; }

  #about > a:hover {
    background-color: #ED68D9; }

  #code > a:hover {
    background-color: #49CCD4; }

  #vcs > a:hover {
    background-color: #678CFA; }

  #favorites > a:hover {
    background-color: #4635f7; }

  #secret > a:hover {
    background-color: #ff357a; }

  img.slide {
    height: 25em; }

  #menu-items {
    display: inline-block; }

  #full-screen-menu {
    display: none; }

  .config-content, .dropdown-content {
    max-width: 60%;
    min-width: 60%; }

  .config-content {
    left: 39%; }

  .dropdown-content {
    right: 39%; }

  object.zigzag {
    display: block; } }
@media only screen and (max-width: 500px) {
  .site-footer {
    height: 9em; } }
@media only screen and (max-width: 400px) {
  span.date:before {
    content: ' ';
    display: block; } }
@media only screen and (max-width: 350px) {
  .site-footer {
    height: 10em; } }
@media only screen and (max-width: 300px) {
  .site-footer {
    height: 11em; } }
@media only screen and (max-width: 620px) {
  #header li::after {
    content: none; }

  #header li::before {
    content: none; } }
@media screen and (max-width: 740px) {
  div.content {
    margin-left: 0; }

  li.quote {
    white-space: pre-line; }

  .fixed {
    width: 100%;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em; }

  #content {
    padding: 4%; }

  div.about {
    width: 100%;
    background-image: none; }

  div.writings {
    width: 100%;
    background-image: none; }

  div.code {
    width: 100%;
    background-image: none; }

  div.git {
    width: 100%;
    background-image: none; }

  div.favorites {
    width: 100%;
    background-image: none; }

  h1 {
    font-size: 2.5em; }

  img.center {
    width: 70%;
    padding: 5%; }

  ul.code, li.code {
    display: inherit; } }
ul .icon-bar {
  margin-top: .375em;
  margin-bottom: .375em;
  display: block;
  margin-right: auto;
  margin-left: 20px;
  width: 2em;
  height: 0.3em;
  background-color: white; }

/***************************************************/
/* HACK TO HAVE THE FOOTER STAY AT THE BOTTOM
/***************************************************/
/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 *
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html {
  height: 100%; }

body {
  padding-bottom: 58px;
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative; }

#content {
  padding-bottom: 4%;
  /* Height of the footer element */ }

#footer {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8em; }

/*# sourceMappingURL=main.css.map */
