<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="main.css">
		<meta charset="utf-8"/>
		<title>{{ page title }}</title>
	</head>
		<body onload="prettyPrint()">
			<nav>
			| <a href="/">home</a>
			| <a href="/about">about</a>
			| <a href="/cv">my cv</a>
			| <a href="/flowers">winter~sounds & flower~crowns</a>
			| <a href="/poetry">poetry</a>
			| <a href="/code/code">code + projects</a> |
			</nav>
			
	    {{content}}
      
      
			<footer>
			<ul>
				<li><a href="https://github.com/lbeckman314.com">my github</a></li>
				<li><a href="mailto:lbeckman314@gmail.com">e-mail</a></li>
			</ul>
			</footer>
		</body>
</html>
