<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>liam beckman :: home</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <style>
        .front-page{border-radius: 50%; width: 200px}
    </style>
        <body>
        <div id="wrapper">
            <header>
            <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/cv">my cv</a></li>
            <li><a href="/flowers">winter~sounds & flower~crowns</a></li>
            <li><a href="/code">code + projects</a></li>            
            <li><a href="https://github.com/lbeckman314.com">my github</a></li>
            <li><a href="mailto:lbeckman314@gmail.com">e-mail me</a></li>
            </ul>
            </header>           <!--<img class="front-page" src="/images/cabin.jpg" alt="A nice country cabin.">-->
            
            
            <div id="content">

            {{ content }}

            </div>
            <footer>
            <ul>
                <li><a href="">Made with 💜 by liam beckman</a><a href="http://jmcglone.com/guides/github-pages/"> (inspired by jmcglone)</a></li>

            </ul>
            </footer>
        </div>
        </body>
</html>
