<!doctype html>
<!--Louis, I think this is the beginning of a beautiful friendship.-->
<html lang="en">
    {% include head.html %}
    <body>
        <div id="wrapper">
            <div id="header">{% include header-menu.html %}</div>
            <div class="popstripe"></div>
            <a href="#" class="circle fade-out">↑</a>
            <div id="content">{{ content }}</div>
            {% if page.title == "about" %}
            <img id="mst3k" src="/assets/images/mst3k.png">
            {% endif %}
            <div id="footer">{% include footer.html %}</div>
        </div>
        <div id="bottom"></div>
    </body>
</html>

