---
layout: my-default
---
	<!--<h1>{{ page.title }}</h1>-->
	<ul class="content">

    
<h2>Featured!</h2>

<div class="container">

 {% for post in site.posts %}
      {% if post.title == "far away in the night sky" or post.title == "liber8" %}
        <div class="fixed" id="featured" style="border: solid 1px #d5d5d5; width: 33.333%; margin-right: 1%;">
            <a href="{{post.url}}"><img class="center" src="/assets/initial.png" style="width: 60%; padding-bottom: 10px;"></a>
            <div class="border"></div>
            <p style="text-align: center; padding-bottom: 10px;"><a href="{{ post.url }}">{{ post.title }}</a></p>
            <p style="text-align: center; padding-bottom: 10px;">{{ post.description }}</p>
        </div>

      {% endif %}
  {% endfor %}
        

</div>

<br /><br /><br />


	 
       {% for post in site.posts %}

        <h3><a style="font-size:1.2em" href="{{ post.url }}" title="{{ post.title }}">※ {{ post.title }}</a></h3>
        <p>{{ post.description }}</p>
        <br />
      {% endfor %}

	</ul>
